<%= render 'dashboard-head' %>

<!-- Main Dashboard Content -->
<section class="dashboard-content">
  <!-- Heading -->
  <div class="heading">
    <p>Dashboard</p>
    <input type="text" id="calendar">
    <h1>Cash Return</h1>
    <hr>
  </div>
  <% @table.each do |f| %>
  <% end %>
</section>
<script>
    document.getElementById("cash_return").className = "active";
</script>
<%= render 'dashboard-foot' %>
